@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    color: #F8F8FF;
}
.success {
    background: #11161E;
    width: 100%;
    min-height: 962px;
    padding-top: 160px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.success__wrapper {
    background: #262F3C;
    padding: 40px;
    border-radius: 15px;
}
.success__wrapper h1, .success__wrapper div{
    text-align: center;
}
.success__wrapper h1 {
    margin-bottom: 20px;
}
.success__wrapper div {
    font-weight: bold;
    font-size: 18px;
}
button {
    background: transparent;
    color: #FFF;
    border-radius: 15px;
    border: 2px solid #FFF;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    margin: 0 auto;
    letter-spacing: 4px;
    text-align: center;
    padding: 30px 75px;
    margin-top: 40px;
}
button:hover, button:focus {
    background-color: white;
    color: #333333;
}
@media (max-width: 1280px) {
    .container {
        max-width: 680px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
    .success {
        padding: 80px 0;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 350px;
    }
}
@media (max-width: 360px) {
    .container {
        max-width: 300px;
    }
    .success__wrapper h1 {
        font-size: 20px;
    }
    .success__wrapper div {
        font-size: 15px;
    }
}